# Firewall Mode Script
# OS: Linux
# Author: William C. Canin

[Unit]
Description=Script Firewall
After=bar.service
After=network.target
After=syslog.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/firewall start
ExecStop=/usr/lib/systemd/scripts/firewall stop
ExecReload=/usr/lib/systemd/scripts/firewall restart

[Install]
WantedBy=multi-user.target